{% extends "site/base.html.twig" %}

{% block title %}Accueil{% endblock %}

{% block css %}{% endblock %}
{% block js %}{% endblock %}

{% block body %}
    <div class="d-sm-flex align-items-center justify-content-between mb-4">
        <h1 class="h3 mb-0 text-gray-800">Accueil</h1>
    </div>

    <div class="row">
        <div class="col-sm-12">
            <div class="card shadow mb-4">
                <div class="card-header py-3">
                    <h6 class="m-0 font-weight-bold text-primary">Bienvenue sur le site de la Team Chapo !</h6>
                </div>
                <div class="card-body px-0 py-0 overflow-hidden">
                    <img src="{{ asset("assets/img/backgrounds/lol_champions.png") }}" alt="" width="100%" height="auto" />
                </div>
            </div>
        </div>
    </div>
{% endblock %}