{% extends 'auth/base.html.twig' %}

{% block title %}Mot de passe oublié{% endblock %}

{% block css %}{% endblock %}
{% block js %}{% endblock %}

{% block body %}
    <div class="text-center">
        <h1 class="h4 text-gray-900 mb-4">Mot de passe oublié</h1>
    </div>

    <p>Tu as reçu par e-mail un lien te permettant de réinitialiser ton mot de passe. Utilise le pour continuer la procédure.</p>

    <div class="text-center">
        <a href="{{ path("login") }}" class="btn btn-primary">
            Revenir à la page de connexion
        </a>
    </div>
{% endblock %}
