<table id="email-penrose-conteneur" style="width: 600px; margin-left: auto; margin-right: auto; text-align: center; border: none;">
    <tr>
        <td style="padding:20px 0px;">
            <table class="resp-full-table" style="width: 600px; border: none; font-size:12px; font-family:'Helvetica Neue', helvetica, arial, sans-serif; color:#aeb2b3;">
                <tr>
                    <td class="resp-full-td">
                        <span>Cet e-mail a été envoyé par le site de la Team Chapo.</span>
                        <hr style="margin-left: 0; text-align:left; background-color:#aeb2b3; height: 1px; border: 0 none;"/>
                        <span>Copyright &copy; InFinity_54, 2021 - Design de l'e-mail par Penrose</span>
                    </td>
                </tr>
            </table>
        </td>
    </tr>
</table>