<table id="email-penrose-conteneur" style="width: 660px; margin-left: auto; margin-right: auto; border: none; border-collapse:collapse;">
    <tr>
        <td>
            <table class="resp-full-table" style="width: 660px; border: none; border-collapse:collapse;">
                <tr>
                    <td style="width: 100%; text-align: center; padding:20px 0;">
                        <a href="#">
                            <img src="{{ email.image("@images/teamchapo_logo.png") }}" width="auto" height="100" alt="Team Chapo" style="border: none;">
                        </a>
                    </td>
                </tr>
            </table>
        </td>
    </tr>
</table>