<tr>
    <td class="font-weight-bold">Participation sur la première tourelle</td>
    {% for i in 0..4 %}
        {% if game.teams.100.players[i] is not null %}
            <td class="text-center">
                {% if game.teams.100.players[i].firstTowerAssist %}
                    <i class="fas fa-check text-success"></i>
                {% else %}
                    <i class="fas fa-times text-danger"></i>
                {% endif %}
            </td>
        {% endif %}
    {% endfor %}
    {% if game.teams.100.players[5]|length > 0 %}
        {% for player in game.teams.100.players[5] %}
            {% if player is not null %}
                <td class="text-center">
                    {% if player.firstTowerAssist %}
                        <i class="fas fa-check text-success"></i>
                    {% else %}
                        <i class="fas fa-times text-danger"></i>
                    {% endif %}
                </td>
            {% endif %}
        {% endfor %}
    {% endif %}
    {% for i in 0..4 %}
        {% if game.teams.200.players[i] is not null %}
            <td class="text-center">
                {% if game.teams.200.players[i].firstTowerAssist %}
                    <i class="fas fa-check text-success"></i>
                {% else %}
                    <i class="fas fa-times text-danger"></i>
                {% endif %}
            </td>
        {% endif %}
    {% endfor %}
    {% if game.teams.200.players[5]|length > 0 %}
        {% for player in game.teams.200.players[5] %}
            {% if player is not null %}
                <td class="text-center">
                    {% if player.firstTowerAssist %}
                        <i class="fas fa-check text-success"></i>
                    {% else %}
                        <i class="fas fa-times text-danger"></i>
                    {% endif %}
                </td>
            {% endif %}
        {% endfor %}
    {% endif %}
</tr>