<tr>
    <td class="font-weight-bold">Nombre total d'Hérauts de la Faille tués</td>
    <td class="text-center" colspan="5">{{ game.teams.100.infos.totalRiftHeraldKills }}</td>
    <td class="text-center" colspan="5">{{ game.teams.200.infos.totalRiftHeraldKills }}</td>
</tr>