<tr>
    <td class="font-weight-bold">Premier Baron Nashor</td>
    <td class="text-center" colspan="5">
        {% if game.teams.100.infos.firstBaron %}
            <i class="fas fa-check text-success"></i>
        {% else %}
            <i class="fas fa-times text-danger"></i>
        {% endif %}
    </td>
    <td class="text-center" colspan="5">
        {% if game.teams.200.infos.firstBaron %}
            <i class="fas fa-check text-success"></i>
        {% else %}
            <i class="fas fa-times text-danger"></i>
        {% endif %}
    </td>
</tr>