{% extends "emails/base.html.twig" %}

{% block body %}
    <div style="width: 100%; text-align: left; color: black;">
        <h2>{{ user.nickname }},</h2>

        <p>
            Tu as demandé à réinitialiser ton mot de passe, que tu as visiblement oublié.
            <br />
            Si c'est le cas, tu peux <a href="{{ absolute_url(path("password_reset", { userId: user.id, token: user.token })) }}">cliquer ici afin de définir ton nouveau mot de passe</a>.
        </p>

        <p>
            Attention : le lien ci-dessus n'est valide que durant 1 heure, soit jusqu'au {{ user.tokenExpDate|date("d/m/Y") }} à {{ user.tokenExpDate|date("H:i") }}.
        </p>

        <p>La Team Chapo.</p>
    </div>
{% endblock %}