<footer class="sticky-footer bg-white">
    <div class="container my-auto">
        <div class="copyright text-center my-auto">
            <span>Copyright &copy; 2021, <a href="https://www.infinity54.fr" target="_blank">InFinity_54</a></span> - Fonctionne à l'aide de <a href="https://leaguestats.infinity54.fr" target="_blank">LeagueStats</a>
        </div>
    </div>
</footer>